/* Tawasukha UI Theme 
*  Author : Forte Zhuo
*/

/* LIGHT */
[data-theme="light"] {
  --color-default: 255 255 255;
  --color-offset: 229 231 235;
  --color-base: 255 255 255;

  --color-base-1: 248 250 252;
  --color-base-2: 226 232 240;
  --color-base-3: 100 116 139;
  --color-base-4: 71 85 105;
  --color-base-5: 51 65 85;

  --color-primary-1: 240 249 255;
  --color-primary-2: 186 230 253;
  --color-primary-3: 14 165 233;
  --color-primary-4: 2 132 199;
  --color-primary-5: 3 105 161;

  --color-secondary-1: 236 254 255;
  --color-secondary-2: 165 243 252;
  --color-secondary-3: 6 182 212;
  --color-secondary-4: 8 145 178;
  --color-secondary-5: 14 116 144;

  --color-success-1: 236 253 245;
  --color-success-2: 167 243 208;
  --color-success-3: 16 185 129;
  --color-success-4: 5 150 105;
  --color-success-5: 4 120 87;

  --color-warning-1: 255 251 235;
  --color-warning-2: 253 230 138;
  --color-warning-3: 245 158 11;
  --color-warning-4: 217 119 6;
  --color-warning-5: 180 83 9;

  --color-error-1: 255 241 242;
  --color-error-2: 254 205 211;
  --color-error-3: 244 63 94;
  --color-error-4: 225 29 72;
  --color-error-5: 190 18 60;
}

/* DARK */
[data-theme="dark"] {
  --color-default: 17 24 39;
  --color-offset: 55 65 81;
  --color-base: 30 41 59;

  --color-base-1: 51 65 85;
  --color-base-2: 71 85 105;
  --color-base-3: 100 116 139;
  --color-base-4: 203 213 225;
  --color-base-5: 226 232 240;

  --color-primary-1: 3 105 161;
  --color-primary-2: 2 132 199;
  --color-primary-3: 14 165 233;
  --color-primary-4: 125 211 252;
  --color-primary-5: 186 230 253;

  --color-secondary-1: 14 116 144;
  --color-secondary-2: 8 145 178;
  --color-secondary-3: 6 182 212;
  --color-secondary-4: 103 232 249;
  --color-secondary-5: 165 243 252;

  --color-success-1: 4 120 87;
  --color-success-2: 5 150 105;
  --color-success-3: 16 185 129;
  --color-success-4: 110 231 183;
  --color-success-5: 167 243 208;

  --color-warning-1: 180 83 9;
  --color-warning-2: 217 119 6;
  --color-warning-3: 245 158 11;
  --color-warning-4: 252 211 77;
  --color-warning-5: 253 230 138;

  --color-error-1: 190 18 60;
  --color-error-2: 225 29 72;
  --color-error-3: 244 63 94;
  --color-error-4: 253 164 175;
  --color-error-5: 254 205 211;
}

.ProseMirror html,
.ProseMirror body,
.ProseMirror div,
.ProseMirror span,
.ProseMirror applet,
.ProseMirror object,
.ProseMirror iframe,
.ProseMirror pre,
.ProseMirror a,
.ProseMirror abbr,
.ProseMirror acronym,
.ProseMirror address,
.ProseMirror big,
.ProseMirror cite,
.ProseMirror code,
.ProseMirror del,
.ProseMirror dfn,
.ProseMirror em,
.ProseMirror img,
.ProseMirror ins,
.ProseMirror kbd,
.ProseMirror q,
.ProseMirror s,
.ProseMirror samp,
.ProseMirror small,
.ProseMirror strike,
.ProseMirror sub,
.ProseMirror sup,
.ProseMirror tt,
.ProseMirror var,
.ProseMirror center,
.ProseMirror dl,
.ProseMirror dt,
.ProseMirror dd,
.ProseMirror ol,
.ProseMirror ul,
.ProseMirror li,
.ProseMirror fieldset,
.ProseMirror form,
.ProseMirror label,
.ProseMirror legend,
.ProseMirror caption,
.ProseMirror article,
.ProseMirror aside,
.ProseMirror canvas,
.ProseMirror details,
.ProseMirror embed,
.ProseMirror figure,
.ProseMirror figcaption,
.ProseMirror footer,
.ProseMirror header,
.ProseMirror hgroup,
.ProseMirror menu,
.ProseMirror nav,
.ProseMirror p,
.ProseMirror output,
.ProseMirror ruby,
.ProseMirror section,
.ProseMirror summary,
.ProseMirror time,
.ProseMirror mark,
.ProseMirror audio,
.ProseMirror video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.ProseMirror article,
.ProseMirror aside,
.ProseMirror details,
.ProseMirror figcaption,
.ProseMirror figure,
.ProseMirror footer,
.ProseMirror header,
.ProseMirror hgroup,
.ProseMirror menu,
.ProseMirror nav,
.ProseMirror section {
  display: block;
}

.ProseMirror body {
  line-height: 1;
}

.ProseMirror ol,
.ProseMirror ul {
  list-style: none;
}


.ProseMirror table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.ProseMirror table td,
.ProseMirror table th {
  border: 2px solid #ced4da;
  box-sizing: border-box;
  min-width: 1em;
  padding: 3px 5px;
  position: relative;
  vertical-align: top;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.column-resize-handle {
  background-color: #adf;
  bottom: -2px;
  position: absolute;
  right: -2px;
  pointer-events: none;
  top: 0;
  width: 4px;
}